<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<nav>
    <table>
        <tr>
            <td>
                @Html.ActionLink("Главная", "Index", "Home")
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink("Выйти", "Logoff", "Account")
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Войти", "Login", "Account")
                </td>
                <td>
                    @Html.ActionLink("Зарегистрироваться", "Register", "Account")
                </td>
            }
        </tr>
        @if (User.Identity.IsAuthenticated)
        {
            <tr>
                <!--Create-->
                <td>
                    @Html.ActionLink("Создать Героя", "CreateHero", "Home")
                </td>
                <td>
                    @Html.ActionLink("Создать Способность", "CreateAbility", "Home")
                </td>
            </tr>
            <tr>
                <!--Show-->
                <td>
                    <p>Перейти к списку героев</p>
                </td>
                <td>
                    @Html.ActionLink("Перейти к списку способностей", "AbilityList", "Home")
                </td>
            </tr>
        }
    </table>
</nav>
<body>

    @RenderBody()
</body>
</html>